.our_story {
  background-image: url('/assets/img/our_story_pic.jpg');
  background-position: center;
  background-size: cover;
}
h2 {
  color: #88c23f;
}
h4 {
  color: #88c23f;
}
h5 {
  color: #88c23f;
}

.our_banner {
  background-image: url('/assets/img/our_story_pic2.jpg');
  background-position: center;
  background-size: cover;
}
