<app-main-nav></app-main-nav>
<div
  class="position-relative bg-dark py-xl-5 py-md-4 py-3 text-lg-start text-center our_story"
>
  <div
    class="container text-white py-xl-5 py-md4 py-3 text-lg-start text-center"
  >
    <div class="py-xl-5 py-md-4 py-3 text-lg-start text-center">
      <div class="row py-xl-5 py-md-4 py-3">
        <div class="py-xl-5 py-md-4 py-3">
          <div class="py-3 py-md-4 py-xl-5"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-md-5 py-3 text-md-start text-center">
  <div class="row py-md-5 py-3">
    <div class="col-lg-12 offset-lg-0">
      <h1 class="display-4 text-uppercase font-family-intro text-primary">
        Our Story
      </h1>
      <div class="row">
        <div class="col-lg-6 text-primary mb-lg-0">
          <p class="m-0">
            Back in 1963, Jimmy Antonopoulos immigrated to Canada from Nafplio,
            Greece and began working in a restaurant in the busy Bay Street
            business district. During this time he noticed that people had very
            few options to enjoy freshly prepared home cooked meals when on the
            go. Seeing his opportunity he started his first restaurant offering
            a menu inspired by his traditional Greek family recipes and 34 years
            later he is still offering those same great recipes. Today there are
            55 Jimmy the Greek quick service restaurants across Canada. Jimmy’s
            instincts were correct!
          </p>
        </div>
        <div class="col-lg-6">
          <h2 class="mb-3">
            <svg
              class="svg-inline--fa fa-quote-left fa-w-16"
              aria-hidden="true"
              focusable="false"
              data-prefix="fa"
              data-icon="quote-left"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              data-fa-i2svg
              width="28"
              height="28"
            >
              ::before
              <path
                fill="currentColor"
                d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
              ></path>
            </svg>
          </h2>
          <h4 class="fw-bold fst-italic mb-2">
            The success of our operations is a simple recipe: deliver delicious
            high quality fresh food, with fast friendly service and a touch of
            Greek hospitality.
          </h4>
          <h5 class="fst-italic fw-bold m-0">–&nbsp; Jimmy Antonopoulos</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-md-5 py-3 position-relative our_banner">
  <div
    class="position-absolute w-100 h-100"
    style="
      background-color: rgba(15, 117, 184, 0.5);
      z-index: 1;
      top: 0;
      left: 0;
    "
  ></div>
  <div
    class="container text-white py-md-5 py-3 position-relative"
    style="z-index: 2"
  >
    <div class="w-100 text-center py-md-5 py-3">
      <h1 class="display-4 font-family-intro">Our Commitment</h1>
      <p class="fw-bold">
        Our menu over the years hasn’t changed and that’s because our commitment
        to you hasn’t changed. We provide traditional Greek recipes made in the
        traditional Greek way that means never cutting corners for efficiency or
        cost. We serve you great meals quickly because we put all the time in
        preparing before you get here, that means long hours and busy days but
        we wouldn’t have it any other way.
      </p>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
