.meals {
  background-image: url('/assets/img/menu_meals.jpg');
  background-position: center;
  background-size: cover;
}
.pitas {
  background-image: url('/assets/img/menu_pitas.jpg');
  background-position: center;
  background-size: cover;
}
.salads {
  background-image: url('/assets/img/menu_salads.jpg');
  background-position: center;
  background-size: cover;
}
.img_a {
  background-image: url('/assets/img/img_a.png');
  background-size: 100% 100%;
  text-decoration: none;
}
