<div>
  <div class="d-md-flex text-center text-uppercase">
    <div class="position-relative w-100 bg-primary py-md-5 py-3 pic1">
      <div class="position-absolute w-100 h-100 inside_block1"></div>
      <a
        href="/menu"
        class="position-absolute w-100 h-100 inside_block_a_1"
      ></a>
      <div class="py-md-5 py-3 position-relative" style="z-index: 2">
        <div class="py-md-5 py-3">
          <h2
            class="px-4 py-2 d-inline-block"
            style="line-height: 1; background-color: #88c23f"
          >
            <span
              class="text-light d-inline-block font-family-intro"
              style="line-height: 0"
              href="#"
              >menu</span
            >
          </h2>
        </div>
      </div>
    </div>
    <div class="position-relative w-100 bg-primary py-md-5 py-3 pic2">
      <div class="position-absolute w-100 h-100 inside_block1"></div>
      <a
        href="/catering"
        class="position-absolute w-100 h-100 inside_block_a_1"
      ></a>
      <div class="py-md-5 py-3 position-relative" style="z-index: 2">
        <div class="py-md-5 py-3">
          <h2 class="px-4 py-2 d-inline-block bg-info" style="line-height: 1">
            <span
              class="text-light d-inline-block font-family-intro"
              style="line-height: 0"
              href="#"
              >catering</span
            >
          </h2>
        </div>
      </div>
    </div>
    <div class="position-relative w-100 bg-primary py-md-5 py-3 pic3">
      <div class="position-absolute w-100 h-100 inside_block1"></div>
      <a
        href="/locations"
        class="position-absolute w-100 h-100 inside_block_a_1"
      ></a>
      <div class="py-md-5 py-3 position-relative" style="z-index: 2">
        <div class="py-md-5 py-3">
          <h2
            class="px-4 py-2 d-inline-block bg-primary"
            style="line-height: 1"
          >
            <span
              class="text-light d-inline-block font-family-intro"
              style="line-height: 0"
              href="#"
              >locations</span
            >
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
