.font-family-intro {
  letter-spacing: -0.025em;
}
a {
  text-decoration: none;
}

.inst_fot {
  line-height: 1;
}

.footer_social {
  background-size: cover;
  background-position: center;
  width: 20%;
  //padding-bottom: calc(20% - 8px); // если снова будет див  border: 4px solid transparent;
}
