<div class="py-md-5 py-3 position-relative nutrition">
  <div
    class="container text-white py-md-5 py-3 position-relative nutrition_text"
  >
    <div class="w-100 text-center py-md-5 py-3">
      <h1 class="display-4">Just like home</h1>
      <p>
        At Jimmy the Greek we understand the value of a nutritious home cooked
        meal; it’s what inspired us to share our family recipes with you. Just
        like cooking at home you care about the ingredients that go into your
        meal that’s why we carefully source all of our meat and produce to
        ensure only the highest quality. When you’re short on time it’s hard to
        make a great meal that’s why we put the time in for you, many of our
        meals take hours to prepare. Did you know we season and marinate our
        meat for 24 hours then grill them fresh every day? So when you don’t
        have time to cook at home come and see us so we can feed you just like
        home.
      </p>
    </div>
  </div>
</div>
