.carousel {
  position: relative;
}
.homepage_carousel_item {
  background-image: url('/assets/img/catering_img.jpg');
  background-size: cover;
  background-position: center;
}
.text-color {
  color: #0f75b8;
}
