<div
  class="position-relative bg-dark py-lg-5 py-3 text-lg-start text-center gift_main"
>
  <div
    class="position-absolute w-100 h-100 d-block d-lg-none gift_main_inside"
  ></div>
  <img
    src="/assets/img/GiftCard2.jpg"
    alt="/"
    class="d-block d-lg-none position-relative w-75 mx-auto"
    style="z-index: 2; margin-top: -3rem"
  />
  <div class="container text-white py-lg-5 py-3 text-lg-start" id="giftcard">
    <div class="py-lg-5 py-3 text-lg-start text-center">
      <div class="row py-lg-5 py-3">
        <div class="col-lg-5 offset-lg-7 col-10 offset-1">
          <h1
            class="w-100 text-info display-4 font-family-intro mb-2 text-uppercase"
            style="line-height: 1"
          >
            Give the gift of JTG
          </h1>
          <p class="w-100 text-dark mb-5">
            Gift cards available at all locations - just ask at the counter.
            Together we’ll make someone’s day a little better.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
