.gift_main {
  background-image: url('/assets/img/GiftCard.jpg');
  background-position: center;
  background-size: cover;
}
.gift_main_inside {
  background-color: rgba(255, 255, 255, 1);
  left: 0;
  top: 0;
}
